@font-face {
    font-family: Abril;
    src: url(/fonts/AbrilFatface-Regular.ttf);
  }
@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
  }
html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: #d9d9d9;
    font-size: 18px;
    color: #0d0d0d;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }

img {
    border: 5px solid #557373;
    width: 90vw;
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1, h2, h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    line-height: 1;
    margin-top: 16px;
    animation: header 2s ease infinite;
}
h2 {
    font-size: 32px;
    padding-left: 16px;
    line-height: 1.5;
}
h3 {
    font-size: 24px;
    padding-left: 16px;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: 16px;
    margin-top: 10px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 16px;
    margin-right: 16px;
}

ul {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ol {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
    display:inline;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none; 
    opacity: 0.7;
  }
nav a:hover {
    opacity: 1;
    text-decoration: underline;
}

.active {
    background-color: #557373;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
  
 nav{
    background-color: #000000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

a#skip {
    background: white;
    color: black;
    font-family: Poppins;
    left: 0;
    padding: 6px;
     -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

a#skip:focus {
    top: 20px;
}

main#main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 15px;
}

main#main div {
    grid-column: 1/-1;
}
#nongif {
    display: none;
}
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
    #gif {
        display: none;
    }
    #nongif {
        display: block;
    }
    h1 {
        text-align: center;
        font-size: 50px;
        line-height: 1;
        margin-top: 16px;
        animation: none;
    }
}

@keyframes header {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.gallery {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
    grid-template-rows: 2fr 2fr;
    gap: 5px;
    row-gap: 0px;
}

.firstchild {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 50vw;
    row-gap: 0px;
}
.secondchild {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: 50vw;
    row-gap: 0px;
}
.thirdchild {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 50vw;
    row-gap: 0px;
}
.fourthchild {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    height: 50vw;
    row-gap: 0px;
}

.fifthchild {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: 50vw;
    row-gap: 0px;
}

button {display: none;}

@media screen and (min-width: 730px){
    nav li{
        display:inline;
        margin: 90px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
      }
      h1 {
        text-align: center;
        font-size: 50px;
        line-height: 1;
        margin-top: 16px;
        animation: header 2s ease infinite;
    }
    h2 {
        font-size: 32px;
        padding-left: 40px;
        line-height: 1.5;
    }
    h3 {
        font-size: 24px;
        padding-left: 40px;
    }
    p {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        margin-left: 40px;
        margin-top: 20px;
    }
    
    li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    figcaption {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    ul {
        padding-left: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    ol {
        padding-left: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    ul.navigation {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .gallery {
        display: grid;
        grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
        grid-template-rows: 2fr 2fr;
        gap: 0px;
        row-gap: 0px;
        padding-right: 40px;
    }
    
    .firstchild {
        grid-column: 2;
        grid-row: 1;
        width: 40vw;
        height: 40vw;
        row-gap: 0px;
    }
    .secondchild {
        grid-column: 3;
        grid-row: 1;
        width: 40vw;
        height: 40vw;
        row-gap: 0px;
    }
    .thirdchild {
        grid-column: 2;
        grid-row: 2;
        width: 40vw;
        height: 40vw;
        row-gap: 0px;
        margin-top: -20px;
    }
    .fourthchild {
        grid-column: 3;
        grid-row: 2;
        width: 40vw;
        height: 40vw;
        row-gap: 0px;
        margin-top: -20px;
    }

    .recipegallery {
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
        grid-template-rows: 2fr;
        gap: 0px; 
    }
    .recipefirstchild {
        grid-column: 2;
        grid-row: 1;
        width: 30vw;
        height: 30vw;
        row-gap: 0px;
    }
    .recipesecondchild {
        grid-column: 3;
        grid-row: 1;
        width: 30vw;
        height: 30vw;
        row-gap: 0px;
    }
    .recipethirdchild {
        grid-column: 4;
        grid-row: 1;
        width: 30vw;
        height: 30vw;
    }
    #more {display: none;}
    #more2 {display: none;}
    #more3 {display: none;}
    #more4 {display: none;}
    #more5 {display: none;}
    #more6 {display: none;}
    /*#shown {display: inline}*/

   button {
        display: block;
        margin-top: 10px;
        margin-left: 40px;
        text-align: center;
        padding: 15px;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
        color: #d9d9d9;
        background-color: #557373;
        font-size: 20px;
        margin-bottom: 10px;
    }
    main#main {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: 15px;
    }
    
    main#main div {
        grid-column: 1/-1;
    }

    .headgrid {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: 2fr 2fr;
        gap: 15px;
    }
    .headimage {
        grid-column: 2;
        height: 80vw;
        width: 60vw;
        grid-row: 1 / span 2;
    }
    .headp {
        grid-column: 1;
        text-align: left;
        grid-row: 1;
        font-size: 14px;
        margin-bottom: -20px;
    }
    .headp2 {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        font-size: 14px;
        margin-top: -20px;
    }
    .recipeheadgrid {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 2fr;
        margin-top: 10px;
    }
    .headimagerecipe {
        grid-column: 2;
        grid-row: 1;
        height: 50vw;
        width: 50vw;
    }
    .headprecipe {
        text-align: left;
        grid-column: 1;
        grid-row: 1;
    }
    .gridheading {
        grid-column: 1 / span 2;
        text-align: left;
    }
    @media screen and (prefers-reduced-motion: reduce){
        html{
            scroll-behavior: auto; /* Removes scroll animation */
        }
        #gif {
            display: none;
        }
        #nongif {
            display: block;
        }
        h1 {
            text-align: center;
            font-size: 50px;
            line-height: 1;
            margin-top: 16px;
            animation: none;
        }
    }
}   

@media screen and (min-width: 1024px){

    img.headimagerecipe
    {
        opacity: 100%;
        -webkit-box-shadow: 10px 10px 5px 2px lightblue;
        -moz-box-shadow: 10px 10px 5px 2px lightblue;
        box-shadow: 10px 10px 5px 2px lightblue;
    }
    img:hover {
        opacity: 50%;
        padding: 20px;
    }
    p {
        font-family: Poppins;
    }
    
    span {
        font-family: Poppins;
    }
    
    li {
        font-family: Poppins;
    }
    figcaption {
        font-family: Poppins;
    }
    @font-face {
        font-family: Acme;
        src: url(/fonts/Acme-Regular.ttf);
      }
      h1, h2, h3 {
        font-family: Acme;
    }

    img.icon {
        border: none;
        width: 8vw;
        opacity: 75%;
    }
    img.icon:hover {
        opacity: 75%;
        padding: 0px;
    }
    
    .headimagerecipe {
        border-radius: 20px;
    }
    nav {
        text-align: right;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .active {
        background-color: #557373;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

}